{% extends "base.html" %}

{% block title %}
  <title>Job Application Form</title>
{% endblock %}

{% block content %}
	<div class="form-div">
	<h2>Apply Below!</h2>
	<p id="instructions-box">Please fill out the form below and we will be on contact!</p>
	<form action="/application" method="POST">
		<label for="first-name">First Name</label>
		<input type="text" name="first-name"><br><br>
		<label for="last-name">Last Name</label>
		<input type="text" style="font-weight: bold" name="last-name"><br><br>
		<label for="salary-req">Salary Requirement</label>
		<input type="number" name="salary-req"><br><br>
		<label for="job-title">Job Title</label>
		<select name="job-title">
		  	<option value="Software Engineer">Software Engineer</option>
		  	<option value="QA Engineer">QA Engineer</option>
		  	<option value="Product Manager">Product Manager</option>
		</select><br><br>
		<input type="submit">
	</form>
</div>
{% endblock %}